@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.titel = "Create Department";
}
@model Department


<form method="post" asp-action="AddItem" asp-controller="Department">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="@Model.Name">Name Dept</label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Manager">Manger</label>
        <input asp-for="@Model.Manager" class="form-control" />
        <span asp-validation-for="@Model.Manager" class="text-danger"></span>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Save" />
</form>
